<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script>
    htmx.logger = function (elt, event, data) {
      if (console) {
        console.log(event, elt, data);
      }
    }
  </script>
</head>

<body>
  <header>
    <h1>Plasma Control</h1>
    <p>Brighten your world!</p>

  </header>
  <main id="main">
    {% include "./templates/power.tpl.html" %}
  </main>
</body>

</html>
